@CHARSET "UTF-8";
body{
	color:#333;
	font:14px/1.5 'Microsoft Yahei',sans-serif;
}
*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
.box{
	width: 600px;
	margin: 100px auto 0;
}
.logo{
	margin-bottom: 50px;
}
.main-left{
	width: 350px;
	padding-right: 30px;
	border-right: 1px solid #abb0bc;
	float: left;
}
.row{
	line-height: 40px;
	height: 40px;
	margin-bottom: 30px;
	position: relative;
}
.row:last-child{
	margin-bottom: 0;
}
.icon{
	position: absolute;
	left: 10px;
	top:12px;
}
.main-left .row{
	width: 350px;
}
input{
	height: 30px;
	width: 320px;
	border: 1px solid #333;
	outline: none;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.row a{
	height: 30px;
	line-height: 30px;
}
#remember{
	float: left;
	padding-left: 20px;
}
#forget{
	float: right;
}
.btn{
	width: 100px;
	background-color: rgba(244,67,54,1);
	color: #fff;
	display: block;
	text-align: center;
	float: left;
	font-size: 20px;
	padding: 5px 10px;
}
#icon-remember{
	top:8px;
	left: 0;
}
.reg{
	float: right;
}
.main-right{
	width: 180px;
	float: left;
	padding-left: 30px;
}
.main-right a{
	height: 30px;
	width: 150px;
	display: block;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.weibo{
	border: 1px solid red;
}
.qq{
	border:1px solid blue;
}
